In [ ]:
!mkdir data

In [1]:
!wget -P data/ https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.hungarian.data
!wget -P data/ https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data
!wget -P data/ https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.va.data
!wget -P data/ https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.switzerland.data

--2021-10-16 15:22:24--  https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.hungarian.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10263 (10K) [application/x-httpd-php]
Saving to: 'data/processed.hungarian.data.1'

     0K ..........                                            100%  431K=0.02s

2021-10-16 15:22:26 (431 KB/s) - 'data/processed.hungarian.data.1' saved [10263/10263]

--2021-10-16 15:22:26--  https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18461 (18K) [application/x-httpd-php]
Saving to: 'data/processed.cleveland.data.1'

     0K .......... ........                                   100% 55.6K=0.3s

2021-10-16 15:22:28 (55.6 KB/s) - 'data/processed.cleveland.data.1' saved [18461/18461]

--2021-10-16 15:22:28--  https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.va.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6737 (6.6K) [application/x-httpd-php]
Saving to: 'data/processed.va.data'

     0K ......                                                100% 1.10M=0.006s

2021-10-16 15:22:30 (1.10 MB/s) - 'data/processed.va.data' saved [6737/6737]

--2021-10-16 15:22:30--  https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.switzerland.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4109 (4.0K) [application/x-httpd-php]
Saving to: 'data/processed.switzerland.data.1'

     0K ....                                                  100%  582K=0.007s

2021-10-16 15:22:32 (582 KB/s) - 'data/processed.switzerland.data.1' saved [4109/4109]

In [1]:
import pandas as pd
import numpy as np

cl = pd.read_csv("data/processed.hungarian.data")
hn = pd.read_csv("data/processed.hungarian.data")
sw = pd.read_csv("data/processed.switzerland.data")
va = pd.read_csv("data/processed.va.data")

In [2]:
classes = ['age', 'gender', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
           'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']

classes_to_drop = ['exang', 'oldpeak', 'slope', 'ca', 'thal']

cl.columns = classes
hn.columns = classes
sw.columns = classes
va.columns = classes

for i in classes_to_drop:
    cl.drop(i, inplace=True, axis=1)
    hn.drop(i, inplace=True, axis=1)
    sw.drop(i, inplace=True, axis=1)
    va.drop(i, inplace=True, axis=1)

In [3]:
age = []
gender = [] 
cp = []
trestbps =[] 
chol = []
fbs = []
restecg =[]
thalach = []
target =[]

In [4]:
age = [cl['age'].tolist(), hn['age'].tolist(), sw['age'].tolist(), va['age'].tolist()]
gender = [cl['gender'].tolist(), hn['gender'].tolist(), sw['gender'].tolist(), va['gender'].tolist()]
cp = [cl['cp'].tolist(), hn['cp'].tolist(), sw['cp'].tolist(), va['cp'].tolist()]
trestbps = [cl['trestbps'].tolist(), hn['trestbps'].tolist(), sw['trestbps'].tolist(), va['trestbps'].tolist()]
chol = [cl['chol'].tolist(), hn['chol'].tolist(), sw['chol'].tolist(), va['chol'].tolist()]
fbs = [cl['fbs'].tolist(), hn['fbs'].tolist(), sw['fbs'].tolist(), va['fbs'].tolist()]
restecg = [cl['restecg'].tolist(), hn['restecg'].tolist(), sw['restecg'].tolist(), va['restecg'].tolist()]
thalach = [cl['thalach'].tolist(), hn['thalach'].tolist(), sw['thalach'].tolist(), va['thalach'].tolist()]
target = [cl['target'].tolist(), hn['target'].tolist(), sw['target'].tolist(), va['target'].tolist()]

In [14]:
data = pd.DataFrame({"age": age[0]+age[1]+age[2],
                    "gender": gender[0]+gender[1]+gender[2], 
                    "cp": cp[0]+cp[1]+cp[2],
                     "trestbps": trestbps[0]+trestbps[1]+trestbps[2],
                     'chol': chol[0]+chol[1]+chol[2],
                     'fbs': fbs[0]+fbs[1]+fbs[2],
                     'restecg': restecg[0]+restecg[1]+restecg[2],
                     'thalach': thalach[0]+thalach[1]+thalach[2],
                     'target': target[0]+target[1]+target[2]
                     })
data = data.replace(to_replace ="?",
                 value = None)

In [16]:
data.shape
data.head

<bound method NDFrame.head of      age  gender  cp trestbps chol fbs restecg thalach  target
0     29       1   2      120  243   0       0     160       0
1     29       1   2      140  243   0       0     170       0
2     30       0   1      170  237   0       1     170       0
3     31       0   2      100  219   0       1     150       0
4     32       0   2      105  198   0       0     165       0
..   ...     ...  ..      ...  ...  ..     ...     ...     ...
703   70       1   4      115    0   0       1      92       1
704   70       1   4      140    0   1       0     157       3
705   72       1   3      160    0   1       2     114       0
706   73       0   3      160    0   0       1     121       1
707   74       1   2      145    0   0       1     123       1

[708 rows x 9 columns]>

In [17]:
data

     age  gender  cp trestbps chol fbs restecg thalach  target
0     29       1   2      120  243   0       0     160       0
1     29       1   2      140  243   0       0     170       0
2     30       0   1      170  237   0       1     170       0
3     31       0   2      100  219   0       1     150       0
4     32       0   2      105  198   0       0     165       0
..   ...     ...  ..      ...  ...  ..     ...     ...     ...
703   70       1   4      115    0   0       1      92       1
704   70       1   4      140    0   1       0     157       3
705   72       1   3      160    0   1       2     114       0
706   73       0   3      160    0   0       1     121       1
707   74       1   2      145    0   0       1     123       1

[708 rows x 9 columns]

In [18]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import pickle

In [19]:
x = data.drop(['target'], axis = 1)
y = data['target']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 0)

In [20]:
model = DecisionTreeClassifier(criterion='entropy', random_state=0)
model.fit(x_train, y_train)
score = 0
score = model.score(x_test, y_test)
print(score)

0.8873239436619719

In [21]:
# testing

pred = np.array([73,0,3,160,0,0,1,121]) # ground truth = 1
p = pred.reshape(-1, 1)
p = p.reshape(1, 8)


history = model.predict(p)
print(history)

[1]

In [22]:
#save the model
pickle.dump(model, open('saved/model', 'wb'))

In [ ]:
# Run below cells if you already saved your model

In [23]:
import pickle
import numpy as np

model = pickle.load(open('saved/model', 'rb'))

In [24]:
pred = np.array([70,1,4,140,0,1,0,157]) # ground truth = 1
p = pred.reshape(-1, 1)
p = p.reshape(1, 8)


history = model.predict(p)
print(history)

[3]

In [ ]:
# manual test samples
70	1	4	115	0	0	1	92   # 1
30	0	1	170	237	0	1	170	 # 0
70,1,4,140,0,1,0,157   #3